:root {
    --main-bg-color: rgb(119, 166, 182);
    --main-font-color: rgb(58, 80, 107);
}

header {
    display: flex;
    background-color: var(--main-font-color);
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0em 0;
    margin: 0.5em 0;
    top: 0;
    border-radius: 20px;
}

.navigation {
    display: flex;
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    margin: 0.5em 0;
    padding: 0.5em 0;
    font-size: clamp(1.5em, 2vw, 3rem);
    float: right;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation ul li {
    margin-right: 1em;
    text-align: center;
}

.navigation a:hover {
    border-radius: 10px 25%;
    background-color: white;
    cursor: pointer;
}

.navigation ul li a {
    color: var(--main-bg-color);
    text-decoration: none;
    padding: 5px;
    text-align: center;

}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    margin: 0 auto;
    max-width: 90vw;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-weight: bold;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    animation: myAnimation 5s infinite;
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.grid-item span {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.caption {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    font-weight: bold;
    top: 10px;
    left: 5px;
    width: 80%;
    color: white;
    padding: 5px;
    font-size: clamp(0.5em, 3vw, 2rem);
}

.common-section{
    font-size: clamp(0.5em, 3vw, 2rem);
    padding: 10px;
}





@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .burger-menu{
        display: block;
        cursor: pointer;

    }
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    .navigation ul{
        display: none;
    }
    .burger-menu.active ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .burger-menu.active .navigation ul{
        display: flex;
    }
    .burger-menu:before{
        content: '\2630';
        font-size: 24px;
    }


}




@keyframes myAnimation {
    0%{
        transform: scale(1);
        filter: grayscale(100%);
    }
    50%{
        transform: scale(1.2);
        filter: grayscale(25%);

    }
    100%{
        transform: scale(1);
        filter: grayscale(100%);

    }

}
