:root {
    --main-bg-color: rgb(119, 166, 182);
    --main-font-color: rgb(58, 80, 107);
}

.header {
    display: flex;
    background-color: var(--main-font-color);
    padding: 1em 0;
    margin: 0.5em 0;
    top: 0;
    position: sticky;
    border-radius: 20px;
}

.navigation {
    display: flex;
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    margin: 0.5em 0;
    padding: 0.5em 0;
    float: left;
    justify-content: space-evenly;
    font-size: clamp(1.5em, 2vw, 3rem);
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    margin-right: 1em;
}

.navigation a:hover {
    border-radius: 10px 25%;
    background-color: white;
}

.navigation ul li a {
    color: var(--main-bg-color);
    text-decoration: none;
    padding: 5px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    margin: 0 auto;
    max-width: 90vw;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.grid-item span {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.caption {
    position: absolute;
    font-weight: bold;
    top: 20px;
    left: 0;
    width: 100%;
    color: white;
    padding: 5px;
 /*   opacity: 0;
    transition: opacity 0.3s ease;*/
}

/*.grid-item:hover .caption {
    opacity: 1;
}*/
